@model Biblioteka.Models.AddEditZbiorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zbior</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="zbior.CzyDostepny" /> @Html.DisplayNameFor(model => model.zbior.CzyDostepny)
                </label>
            </div>
            <div class="form-group">
                <label for="SelectedAutorIds">Wybierz zasób</label>
                <select class="form-control" id="selectedZasobId" name="selectedZasobId">
                    @foreach (var zasob in Model.zasobs)
                    {
                        <option value="@zasob.Id">@zasob.Tytul @zasob.ISBN</option>
                    }
                </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
