@model Biblioteka.Models.AddEditZasobViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Dodaj</h1>

<h4>Zasob</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zasob.Tytul" class="control-label"></label>
                <input asp-for="Zasob.Tytul" class="form-control" />
                <span asp-validation-for="Zasob.Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zasob.ISBN" class="control-label"></label>
                <input asp-for="Zasob.ISBN" class="form-control" />
                <span asp-validation-for="Zasob.ISBN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="SelectedAutorIds">Select Authors</label>
                <select multiple class="form-control" id="SelectedAutorIds" name="SelectedAutorIds">
                    @foreach (var autor in Model.Autorzy)
                    {
                        <option value="@autor.Id">@autor.Nazwa</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
